body,
html {
    background-color: #efecea;
    background-image: url("../img/init-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    width: 100%;
    height: 100%;
    min-height: 545px;
}

.login-card {
    max-width: 640px;
    width: calc(100vw - 50px);

    animation: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.75s 1 normal both running visable;
    -webkit-animation: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.75s 1 normal both running visable;
}

.brand-link {
    height: 80px;

    animation: 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 normal both running slide-right;
    -webkit-animation: 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 normal both running slide-right;

    &.brand-link--first {
        animation-delay: 0.35s;
    }

    &.brand-link--second {
        animation-delay: 0.6s;
    }

    &.brand-link--third {
        animation-delay: 0.85s;
    }
}

.brand-logo {
    max-width: 200px;
}

.login-form-input {
    background: transparent !important;
}

.login-form-input,
.form-submit-action {
    border-bottom: 1px solid #c0c0c0 !important;
}

.form-control:focus {
    box-shadow: none;
}

.form-container {
    min-height: 250px;
    position: relative;

    .form-card {
        position: absolute;
    }

    .form-controls {
        animation: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.85s 1 normal both running hidout;
        -webkit-animation: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.85s 1 normal both running hidout;
    }
}

/************************************************************************************************************************** Media */

@media (min-width: 576px) {
    :root {
        --slide-up-y: 250px;
    }
}

@media (max-width: 576px) {
    :root {
        --slide-up-y: 100px;
    }
}

/************************************************************************************************************************** Animation */

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes hidout {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes hidout {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes visable {
    0% {
        background-color: #ffffff00;
    }
    100% {
        background-color: #ffffffdf;
    }
}
@keyframes visable {
    0% {
        background-color: #ffffff00;
    }
    100% {
        background-color: #ffffffdf;
    }
}

@-webkit-keyframes visin {
    0% {
        top: -50%;
    }
    100% {
        top: 0;
    }
}
@keyframes visin {
    0% {
        top: -50%;
    }
    100% {
        top: 0;
    }
}
