/************************************************************************************************************************** Media */

@media (min-width: 576px) {
    :root {
        --slide-up-y: 272px;
    }
}

@media (max-width: 575px) {
    :root {
        --slide-up-y: 526px;
    }
}

/************************************************************************************************************************** Basis */

body,
html {
    width: 100%;
    height: 100%;
    min-height: 560px;
}

#shell {
    position: absolute;
    height: var(--slide-up-y);

    animation: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.85s 1 normal both running visin;
    -webkit-animation: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.85s 1 normal both running visin;
}

.form-container {
    min-height: var(--slide-up-y);
    position: relative;

    .form-controls {
        min-height: 222px;

        animation: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.85s 1 normal both running hidout;
        -webkit-animation: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.85s 1 normal both running hidout;
    }
}

.login-card {
    position: absolute;
    min-width: 290px;

    max-width: 640px;
    width: calc(100vw - 50px);

    animation: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.75s 1 normal both running visable;
    -webkit-animation: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.75s 1 normal both running visable;
}

.brand-link {
    height: 80px;

    animation: 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 normal both running slide-right;
    -webkit-animation: 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 normal both running slide-right;

    &.brand-link--first {
        animation-delay: 0.35s;
    }

    &.brand-link--second {
        animation-delay: 0.6s;
    }

    &.brand-link--third {
        animation-delay: 0.85s;
    }

    .brand-logo {
        max-width: 200px;
    }
}

.login-form-input {
    background: transparent !important;
}

.login-form-input,
.form-submit-action {
    border-bottom: 1px solid #c0c0c0 !important;
}

.form-submit-action {
    color: #000;
    background: linear-gradient(111deg, #fefefe 85%, #efecea 85%);

    &:hover,
    &:focus {
        color: #fff;
        background: linear-gradient(111deg, #000000 85%, #757575 85%);
    }
}

.form-control:focus {
    box-shadow: none;
}

#footer {
    position: fixed;
    bottom: 10px;
    right: 10px;

    .powered-by {
        background-color: #ffffff3c;
        display: block;
        border-radius: 50%;
    }
}

.bizzio-tooltip {
    font-size: 0.625em;
    border-radius: 0;
}

/************************************************************************************************************************** Animation */

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes hidout {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes hidout {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes visable {
    0% {
        background: none;
        box-shadow: none;
    }
    50% {
        background: none;
        box-shadow: none;
    }
    95% {
        box-shadow: none;
    }
    100% {
        background: linear-gradient(111deg, #fefefe 65%, #efecea 65%);
        box-shadow: 0 0 25px #00000050;
    }
}
@keyframes visable {
    0% {
        background: none;
        box-shadow: none;
    }
    50% {
        background: none;
        box-shadow: none;
    }
    95% {
        box-shadow: none;
    }
    100% {
        background: linear-gradient(111deg, #fefefe 65%, #efecea 65%);
        box-shadow: 0 0 25px #00000050;
    }
}

@-webkit-keyframes visin {
    0% {
        top: 10%;
    }
    100% {
        top: calc(50% - (var(--slide-up-y) / 2));
    }
}
@keyframes visin {
    0% {
        top: 10%;
    }
    100% {
        top: calc(50% - (var(--slide-up-y) / 2));
    }
}
